<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{login.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/iconka.ico}"  />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <meta charset="UTF-8">
</head>
    <body>
        <header>
            <div class="container">
                <div class="navbar">
                    <a class="a-link-margin" th:href="@{/}"><img th:src="@{/img/libr.png}" class="logo" /></a>
                    <div class="local">
                        <a href="#en" th:href="@{?locale=en}">En</a> |
                        <a href="#ru" th:href="@{?locale=ru}">Ru</a>
                    </div>
                    <ul><li><a class="a-link-margin" th:text="#{signup.title}" th:href="@{/registration}"></a></li></ul>
                </div>
            </div>
        </header>
        <div class="box c-box-incorrect">
            <div class="c-label incorrect" th:if="${param.error}" th:text="#{incorrect.title}"></div>
            <div class="c-label incorrect" th:if="${param.logout}" th:text="#{paramlogout.title}"></div>
        </div>
        <form class="box" th:action="@{/login}" method="post">
            <div class="c-label box c-box-input">
                <label for="username" th:text="#{userLogin.title} + ':'"></label>
                <input type="text" id="username" name="username"/>
                <label for="password" th:text="#{password.title} + ':'"></label>
                <input type="password" id="password" name="password" />
                </br>
                <input class="login-button" type="submit" th:value="' ' + #{login.title} + ' '" />
            </div>
        </form>
    </body>
</html>
