<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{main.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/iconka.ico}"  />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin" th:href="@{/}"><img th:src="@{/img/libr.png}" class="logo" /></a>
            <div class="local">
                <a href="#en" th:href="@{?locale=en}">En</a> |
                <a href="#ru" th:href="@{?locale=ru}">Ru</a>
            </div>
            <ul>
                <li><a class="a-link-margin" th:text="#{login.title}" th:href="@{/all/home}"></a></li>
                <li><a class="a-link-margin" th:text="#{signup.title}" th:href="@{/registration}"></a></li>
            </ul>

        </div>
    </div>
</header>
<div class="text-center">
    <h1 class="c-text-h1 margin-five" th:text="#{h.title}"></h1>
    <p class="c-text-body" th:text="#{welcome.title}"></p>
    <img th:src="@{/img/logo.jpg}" />
</div>

</body>
</html>