<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:utext="#{readers.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/iconka.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}"/>
    <meta charset="UTF-8" />
</head>

<body>
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin" th:href="@{/all/home}"><img th:src="@{/img/libr.png}" class="logo" /></a>
            <div class="local">
                <a href="#en" th:href="@{?locale=en}">En</a> |
                <a href="#ru" th:href="@{?locale=ru}">Ru</a>
            </div>
            <ul><li><a class="a-link-margin" th:text="#{logout.title}" th:href="@{/logout}"></a></li></ul>
        </div>
    </div>
</header>
<div class="text-center">
    <h1 class="c-text-h1 margin-five" th:utext="#{readers.title}"></h1>
    <form th:action="@{/readers}" method="get">

        <input class="search" type="text" name="search" th:value="${search}" th:placeholder='#{placeholder.title}'>

        <div th:if="${#lists.isEmpty(result)}" class="c-label incorrect" th:utext="#{nothingfound.title}"></div>
        <div th:if="${not #lists.isEmpty(result)}">
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th th:utext="#{id.title}"></th>
                        <th th:utext="#{firstName.title}"></th>
                        <th th:utext="#{lastName.title}"></th>
                        <th th:utext="#{Email.title}"></th>
                        <th th:if="${#request.isUserInRole('ADMIN')}" th:utext="#{userLogin.title}"></th>
                        <th th:if="${#request.isUserInRole('ADMIN')}"></th>
                        <th th:if="${#request.isUserInRole('LIBRARIAN')}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reader: ${result}">
                        <td th:utext="${reader.id}"></td>
                        <td th:utext="${reader.firstName}"></td>
                        <td th:utext="${reader.lastName}"></td>
                        <td th:utext="${reader.Email}"></td>
                        <td th:if="${#request.isUserInRole('ADMIN')}" th:utext="${reader.login}"></td>
                        <td th:if="${#request.isUserInRole('ADMIN')}">
                            <a class="a-link-no-margin" th:href="'/editReader?id=' + ${reader.id}"><img th:src="@{/img/edit.png}" class="iconimg" /></a>
                            <a class="a-link-no-margin" th:href="'/deleteReader?id=' + ${reader.id}"><img th:src="@{/img/bin.png}" class="iconimg" /></a>
                            <a class="a-link-no-margin" th:href="'/blockReader?id=' + ${reader.id}"><img th:src="@{/img/block.png}" class="iconimg" /></a>
                        </td>
                        <td th:if="${#request.isUserInRole('LIBRARIAN')}">
                            <a th:href="'/blockReader?id=' + ${reader.id}"><img th:src="@{/img/block.png}" class="iconimg" /></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

</div>
</body>
</html>
